@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll visually hide */
.scrollhide {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
.scrollhide::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}